#  Food Deserts

In [2]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', 200)

In [5]:
fd = pd.read_csv('Food_Desserts/Food_Desserts_2015.csv')

In [37]:
fd[ fd.County == 'Suffolk'].head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,HUNVFlag,LowIncomeTracts,PovertyRate,MedianFamilyIncome,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20,LATractsVehicle_20,LAPOP1_10,LAPOP05_10,LAPOP1_20,LALOWI1_10,LALOWI05_10,LALOWI1_20,lapophalf,lapophalfshare,lalowihalf,lalowihalfshare,lakidshalf,lakidshalfshare,laseniorshalf,laseniorshalfshare,lawhitehalf,lawhitehalfshare,lablackhalf,lablackhalfshare,laasianhalf,laasianhalfshare,lanhopihalf,lanhopihalfshare,laaianhalf,laaianhalfshare,laomultirhalf,laomultirhalfshare,lahisphalf,lahisphalfshare,lahunvhalf,lahunvhalfshare,lasnaphalf,lasnaphalfshare,lapop1,lapop1share,lalowi1,lalowi1share,lakids1,lakids1share,laseniors1,laseniors1share,lawhite1,lawhite1share,lablack1,lablack1share,laasian1,laasian1share,lanhopi1,lanhopi1share,laaian1,laaian1share,laomultir1,laomultir1share,lahisp1,lahisp1share,lahunv1,lahunv1share,lasnap1,lasnap1share,lapop10,lapop10share,lalowi10,lalowi10share,lakids10,lakids10share,laseniors10,laseniors10share,lawhite10,lawhite10share,lablack10,lablack10share,laasian10,laasian10share,lanhopi10,lanhopi10share,laaian10,laaian10share,laomultir10,laomultir10share,lahisp10,lahisp10share,lahunv10,lahunv10share,lasnap10,lasnap10share,lapop20,lapop20share,lalowi20,lalowi20share,lakids20,lakids20share,laseniors20,laseniors20share,lawhite20,lawhite20share,lablack20,lablack20share,laasian20,laasian20share,lanhopi20,lanhopi20share,laaian20,laaian20share,laomultir20,laomultir20share,lahisp20,lahisp20share,lahunv20,lahunv20share,lasnap20,lasnap20share,TractLOWI,TractKids,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,FD_ratio
32225,25025000100,Massachusetts,Suffolk,1,4254,1616,0,29,0.006817,0,0,0,0,0,1,17.1,47576,0,0,0,0,0,0,0,0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1149,579,349,2748,300,469,0,6,731,621,385,137,0.0
32226,25025000201,Massachusetts,Suffolk,1,3854,1541,0,124,0.032174,0,0,0,0,0,1,13.2,65391,0,0,0,0,0,0,0,0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,798,439,264,2918,276,327,2,8,323,407,161,68,0.0
32227,25025000202,Massachusetts,Suffolk,1,3885,1480,0,24,0.006178,0,1,0,1,1,1,22.7,51361,0,1,0,1,0,0,0,1,0.0,1834.337806,0.0,0.0,689.043917,0.0,1834.337806,0.472159,689.043917,0.177360,338.648611,0.087168,159.600668,0.041081,1150.973799,0.296261,193.883990,0.049906,254.434431,0.065491,0.619371,0.000159,8.750748,0.002252,225.675464,0.058089,347.093054,0.089342,138.891204,0.093845,97.882391,0.066137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1218,656,340,2620,330,527,1,17,390,596,241,188,0.0
32228,25025000301,Massachusetts,Suffolk,1,2740,1159,0,112,0.040876,0,0,0,0,0,0,14.1,90117,0,0,0,0,0,0,0,0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,585,273,331,2150,131,298,0,6,155,190,42,44,0.0
32229,25025000302,Massachusetts,Suffolk,1,3142,1276,0,226,0.071929,0,1,0,0,0,1,22.3,82656,0,1,0,1,0,0,0,0,0.0,1002.861294,0.0,0.0,362.975914,0.0,1002.861294,0.319179,362.975914,0.115524,96.340601,0.030662,131.218564,0.041763,728.825607,0.231962,33.508953,0.010665,195.043636,0.062076,0.000000,0.000000,1.870130,0.000595,43.612976,0.013881,61.147991,0.019461,66.950064,0.052469,16.694194,0.013083,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,894,310,335,2472,96,453,0,2,119,229,207,43,0.0

In [28]:
fd_sum = fd.groupby(['State', 'County']).sum()[['LAPOP1_10','POP2010']]

In [29]:
fd_sum.head()

                    LAPOP1_10  POP2010
State   County
Alabama Autauga  18092.661348    54571
        Baldwin  46400.350641   182265
        Barbour   6683.975691    27457
        Bibb       295.614426    22915
        Blount    5855.939161    57322

In [30]:
fd_sum['FD_ratio'] = fd_sum.LAPOP1_10 / fd_sum.POP2010

In [45]:
fd_sum.head()

                    LAPOP1_10  POP2010  FD_ratio
State   County
Alabama Autauga  18092.661348    54571  0.331544
        Baldwin  46400.350641   182265  0.254576
        Barbour   6683.975691    27457  0.243434
        Bibb       295.614426    22915  0.012900
        Blount    5855.939161    57322  0.102159

In [23]:
zips = pd.read_csv('Food_Desserts/us_postal_codes.csv')

In [24]:
zips.head()

,Zip Code,Place Name,State,State Abbreviation,County,Latitude,Longitude
0,501,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
1,544,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
2,1001,Agawam,Massachusetts,MA,Hampden,42.0702,-72.6227
3,1002,Amherst,Massachusetts,MA,Hampshire,42.3671,-72.4646
4,1003,Amherst,Massachusetts,MA,Hampshire,42.3919,-72.5248

In [43]:
join = zips.join(fd_sum, ['State', 'County'])

In [44]:
join[ join.County == 'Autauga']

,Zip Code,Place Name,State,State Abbreviation,County,Latitude,Longitude,LAPOP1_10,POP2010,FD_ratio
14766,36003,Autaugaville,Alabama,AL,Autauga,32.4625,-86.7149,18092.661348,54571.0,0.331544
14768,36006,Billingsley,Alabama,AL,Autauga,32.6596,-86.7178,18092.661348,54571.0,0.331544
14769,36008,Booth,Alabama,AL,Autauga,32.5016,-86.5727,18092.661348,54571.0,0.331544
14804,36051,Marbury,Alabama,AL,Autauga,32.6841,-86.4946,18092.661348,54571.0,0.331544
14813,36066,Prattville,Alabama,AL,Autauga,32.4787,-86.4300,18092.661348,54571.0,0.331544
14814,36067,Prattville,Alabama,AL,Autauga,32.4715,-86.4831,18092.661348,54571.0,0.331544
14815,36068,Prattville,Alabama,AL,Autauga,32.4640,-86.4597,18092.661348,54571.0,0.331544
15095,36749,Jones,Alabama,AL,Autauga,32.5104,-86.8138,18092.661348,54571.0,0.331544

In [46]:
join = join[['Zip Code', 'LAPOP1_10', 'POP2010', 'FD_ratio']]

In [48]:
join.to_pickle('Food_Desserts/FD_clean.pkl')

In [87]:
unemp = pd.read_csv('Unemployment/Unemployment_2011.csv')
del unemp['# in sample']
unemp.dropna(axis=0, inplace=True)

In [88]:
unemp.head()

    Zip Unemp. Rate
0  1001          6%
1  1002          9%
2  1003         17%
3  1005         10%
4  1007          5%

In [92]:
lst = []
for val in unemp['Unemp. Rate'].values:
    lst.append(int(val[:-1]) / 100)

In [68]:
unemp['Unemp. Rate'].values[0][:-1]

'6'

In [94]:
unemp['frac'] = lst

In [95]:
unemp.head()

    Zip Unemp. Rate  frac
0  1001          6%  0.06
1  1002          9%  0.09
2  1003         17%  0.17
3  1005         10%  0.10
4  1007          5%  0.05

In [96]:
unemp.to_pickle('Unemployment/unemp_clean.pkl')

In [97]:
dens = pd.read_csv('Pop_Density/Population-Density-And-Area_2010.csv')

In [98]:
dens.head()

   Zip/ZCTA  2010 Population  Land-Sq-Mi  Density Per Sq Mile
0       601                0      64.348                  0.0
1       602                0      30.613                  0.0
2       603                0      31.616                  0.0
3       606                0      42.309                  0.0
4       610                0      35.916                  0.0

In [99]:
dens = dens[['Zip/ZCTA', 'Density Per Sq Mile']]

In [101]:
dens.to_pickle('Pop_Density/density_clean.pkl')

# Crime

In [3]:
chunk = pd.read_csv('data/Crime/DS0001/da36851-0001.tsv', delimiter='\t', chunksize=10000)
out = pd.DataFrame(columns=['INCDATE', 'BH007', 'BH008', 'BH020', 'BH054'])

for df in chunk:
    type_mask = (df.V20111 == 7) | (df.V20111 == 23) | (df.V20112 == 7) | (df.V20112 == 23) | (df.V20113 == 7) | (df.V20113 == 23)
    loc_mask = (df.V20061 == 233) | (df.V20061 == 234) | (df.V20062 == 233) | (df.V20062 == 234) | (df.V20063 == 233) | (df.V20063 == 234)
    mask = type_mask & loc_mask
    
    df_sub = df[['INCDATE', 'BH007', 'BH008', 'BH020', 'BH054']]
    out = pd.concat([out, df_sub])

/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (230) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (230,231,232,352) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (230,231,232) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (230,232) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (231) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (351,352) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (232) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (230,231) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (352) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (231,232) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (230,351,352) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (21,352) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (73,230,231,232) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (73) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (21,230,231,232) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (350,351,352) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (389) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (230,352) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (351,352,389) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
len(out)

4986608

In [6]:
out.to_pickle('data/Crime/crime_clean.pkl')

In [12]:
out['date'] = pd.to_datetime(out['INCDATE'], format='%Y%m%d')

In [14]:
out['city'] = out.BH007
out['state'] = out.BH008

In [16]:
out_new = out[['date', 'city', 'state']]

In [17]:
out_new.head()

        date    city state
0 2015-09-12  HOOVER    AL
1 2015-12-23  HOOVER    AL
2 2015-12-30  HOOVER    AL
3 2015-12-30  HOOVER    AL
4 2015-12-26  HOOVER    AL

In [18]:
out_new.to_pickle('data/Crime/crime_clean.pkl')